*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --background-color: #030303;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #9196AD;
    --wrap-width: 600px;
}

html {
    box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Inter', sans-serif;
}

.wrap {
    max-width: var(--wrap-width);
    width: 100%;
    margin: 0 auto;
}

h1,h2 {
    font-weight: normal;
    text-align: center;
    margin: 0;
}

h1 {
    font-weight: 600;
    margin-bottom: 16px;
}

h2 {
    color: var(--secondary-text-color);
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* header */

.header {
    padding: 4vh 0;
    position: relative;
}

.header__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

/* sticky menu */

.header--fixed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(0,0,0,.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: .4s;
    z-index: 10;
    padding: 10px;
    max-width: var(--wrap-width);
    align-items: center;
    transform: translateY(50px);
}

.header a {
    display: block;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header a img {
    max-width: 24px;
}

.hide-gradient {
    visibility: hidden;
    width: 0;
    height: 0;
}

.name-svg {
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.main__navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main__navigation ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.main__navigation li {
    margin-left: 24px;
}

.main__navigation a {
    color: var(--secondary-text-color);
    transition: .4s;
}

.main__navigation a:hover {
    color: var(--primary-text-color);
    transition: .4s;
}

.main__navigation a svg path {
    transition: .4s;
}

.main__navigation a:hover svg path {
    stroke: var(--primary-text-color);
    transition: .4s;
}

.headline {
    padding: 12vh 0;
    background: url(https://frnd.design/viewport/images/header-bg.png) no-repeat top center;
    background-size: cover;
}

.headline svg path {
    fill: url(#gradient);
}

/* home */

.content {
    width: 100%;
}

/* post */
.post {
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: 24px 0 16px 0;
}

.post__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.post__header h3 {
    margin: 0;
}

.post__header time {
    color: var(--secondary-text-color);
    font-size: 12px;
}

.post__meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post__meta a svg path {
    transition: .4s;
}

.post__meta a:hover svg path {
    fill: white;
    transition: .4s;
}

.post__content--tags {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    margin: 8px 0;
}

.post__content--tags li {
    margin-right: 8px;
    background-color: rgba(26,26,26,1);
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.post__media img,
.post__media video {
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.1);
    max-width: 100%;
    height: auto;
}

/* footer */
.footer {
    width: 100%;
    padding: 32px 0;
}

.footer p {
    color: var(--secondary-text-color);
    width: 100%;
    text-align: center;
    font-size: 12px;
}

/* Component: Button */
.button {
  padding: .5rem 1rem;

  color: white;
  border: 1px solid #333;
  border-radius: .5rem;
  box-shadow: inset 0px 1px 1px rgba(255,255,255,.4),
              inset 0px 2px 2px rgba(255,255,255,.1),
              inset 0px -1px 0px rgba(0,0,0,.1),
              0px 2px 4px rgba(0,0,0,.2);
  background-color: #111;

  transition: all 260ms ease;
}

.button:hover {
  background-color: #1c1c1c;
}

/* Page: 404 */
.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vmin - 280px);
}

/* Page */
.article__content p {
    margin-bottom: 32px;
}

.article__content a {
    color: white;
    text-decoration: underline;
    font-weight: 600;
}



@media screen and (max-width: 610px) {
    .wrap {
        padding-left: 24px;
        padding-right: 24px;
    }
}